h1, h2 {
  margin: 0;
  height: 80px;
  font-size: 70px;
  background: linear-gradient(175deg, #3b82f6 22.35%, #ec4899 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    -webkit-background-clip: unset;
    -webkit-text-fill-color: initial;
  }
}

.home {
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;

  h2 {
    color: #ffffff;
    font-size: 70px;
    background: inherit;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: initial;
  }

  p {
    width: 90%;
    color: #adb7be;
    font-size: 20px;
  }

  .image-container {
    width: 80%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .buttons-container {
    gap: 20px;
    display: flex;

    img {
      width: 40px;
      cursor: pointer;
      border-radius: 50px;
      border: 3px solid #ffffff;
    }

    button {
      width: 150px;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      border-radius: 50px;
      font-family: monospace;
      background: linear-gradient(150deg, #3b82f6 22.35%, #ec4899 100%);

      img {
        width: 18px;
        border: none;
        cursor: pointer;
        border-radius: 0;
      }
    }
  }
}

.about {
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .setup-image {
    width: 40%;
    padding: 50px;

    img {
      width: 100%;
      border-radius: 20px;
      transform: rotate(-10deg);
    }
  }

  p {
    width: 60%;
    color: #ffffff;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;

    span {
      background: linear-gradient(100deg, #ef4444 22.35%, #eab308 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.experience {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .experience-card {
    width: 100%;
    padding: 20px;
    margin: 25px 0;
    background: #101628;
    border-radius: 10px;
    border-bottom: 5px solid #ffffff;

    h3 {
      margin: 0;
      color: #ffffff;
      font-size: 20px;
    }

    p {
      color: #adb7be;
      margin: 10px 0;
    }

    span {
      color: #3b82f6;
    }

    li {
      color: #9ca3af;
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.contact {
  padding: 20px;
  height: 170vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  iframe {
    width: 100%;
    border: none;
    height: 120vh;
  }

  .hider {
    width: 100%;
    height: 23vh;
    bottom: 22vh;
    z-index: 100;
    position: relative;
    background: #121212;
  }
}
